<div id="contact-info">
<h1 id="contactme">
    ( About Me )
  </h1>
  <h4 id="number">
    My Phone Number:
  </h4>
  <p id="p1">
  1(323) 802-5242
  </p>
  <h4 id="email">
    My Email:
  </h4>
  <p>
    <a href="11PGuzman12@gmail.com">11PGuzman12@gmail.com</a>
  </p>
  <h4 id="age">
    Age: 17
  </h4>
  <p>
    Birthday: November 12, 2001
  </p>
<h4 id="school">
    School I go to:
  </h4>
  <p>
    Bright Star Secondary Charter Academy
  </p>
  <div>
    <h1 id="skull">
      Hobbies:
    </h1>
    <p>
-I like to ride my BMX bike around and sometimes try to do some tricks.
</p>
<p>
  -I like to play Rocket League.
</p>
<p>
  I went to an awesome program last summer called Teens Exploring Technology where I made an APP solving a problem in my community.
</p>
  </div>
</div>