#contact-info{
    text-align: center;
}

#number{
    color: #007bff;
}
#age{
    color: #007bff;
}

#p2{
    color: #007bff;
}

#email{
    color:#007bff;
}

#p3{
    color: #007bff;
}

#school{
    color: #007bff; 
}

#contactme{
    color: #007bff;
}