<div id="padding">
    <div *ngFor="let blog of data">
      <div class="blog-link" (click)="viewBlog(blog._id)">
        {{blog.title}}
       
      </div>
    </div>
</div>
  <div>
      <form [formGroup]="form" (ngSubmit)="post()"> 
        <label>
           Title:
        <input type="text" placeholder="Enter Title Here" formControlName="title"> 
       </label>
       <label>
          Entry:
        <input type="text"  placeholder="Enter Entry Here"  formControlName="content"> 
       </label>
        <button type="submit" (click)="getData()"> Post</button>
       </form> 
     </div>


  
  